<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">MovieStore</li>
          <li><a href="#">Menu</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
          <li><a href="#">Register</a></li>
       	  <li><a href="#">Login</a></li>
        </ul>
    </div>
</div>